@model IEnumerable<AspNetUserRolesEntityFramework.Models.MachineLearningCompaniesFeedback>

@{
    ViewData["Title"] = "Privacy Policy";
}

<div style="margin-left:20px; margin-top: 10px;">

    @foreach (var item in Model)
    {
        <h2>@Html.DisplayFor(modelItem => item.TopicTitle)</h2>
        <h3>@@ @Html.DisplayFor(modelItem => item.Company)</h3>
        <p>
            @{
                for (int i = 0; i < item.StarRating; i++)
                {
                    <span style="color: #f8bd08; ">&#x2605;</span>
                }
                for (int i = 0; i < 5 - item.StarRating; i++)
                {
                    <span>&#x2606;</span>
                }
            }
        </p>
        <p>@Html.DisplayFor(modelItem => item.MessageContent)</p>
        <p>Posted by <b>@Html.DisplayFor(modelItem => item.UserName)</b> on @Html.DisplayFor(modelItem => item.PostDate)</p>
        <a asp-controller="MachineLearningCompaniesFeedbacks" asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
        <a asp-controller="MachineLearningCompaniesFeedbacks" asp-action="IncreaseLike" asp-route-id="@item.Id" class="btn btn-success">Agree(@Html.DisplayFor(modelItem => item.Like))</a>
        <a asp-controller="MachineLearningCompaniesFeedbacks" asp-action="IncreaseDislike" asp-route-id="@item.Id" class="btn btn-danger">Disagree(@Html.DisplayFor(modelItem => item.Dislike))</a>
        <span class="float-right">
            <a asp-controller="MachineLearningCompaniesFeedbacks" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
            <a asp-controller="MachineLearningCompaniesFeedbacks" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
        </span>

        <hr style="color:yellow" />

    }

</div>
